#main-aside{
    padding: 0;
    margin: 0 auto;
}

.ads-panel>div{
    width:95%;
    margin: 1% auto;
}

.ads-panel section div p{
    padding: 3%;
    font-size: 1.1rem;
    background-color: #f9f9f9;
}

.ad-info{
    padding-right: 3%;
    padding-left: 3%;
}

.ads-panel section div.ad-info div{
    margin-top: 2%;
    background: #F9F9F9;
}

.ads-panel section div.ad-info div:last-child{
    margin-bottom: 10%;
}

.ads-panel section div.ad-info div label{
    width: 20%;
    padding: 3%;
    background-color: #ffffff;
    margin-right: 4%;
    margin-bottom: 0;
}

.ads-panel header{
    margin-bottom: 2%;
}

.image-container{
    margin-left: 15px;
    padding: 3%;
    width: 30%;
}

.image-container>img{
    width: 100%;
}

.authentication-form{
    width: 70%;
    margin: 0 auto;
}

#content{
    min-height: 800px;
}

.new-ad-image img{
    position: absolute;
    left: 20%;
    border: 2px solid #9C27B0;
    width: 58%;
}

.photo-input button input{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.ad-status{
    padding-left: 3%;
    padding-bottom: 10%;
    border-left: solid 2px #2196F3;
}

.display{
    display: block;
}

.not-display{
    display: none;
}

.confirm-delete{
    margin: 5%;
    padding: 5%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.profile-section{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    margin-left: 6%;
}

.ads-per-page{
    margin-right: 1%;
}

/*.waiting-approval{*/
    /*border: 1px solid #FF9800;*/
    /*color: #FF9800;*/
/*}*/
/*input.ng-valid.ng-dirty.form-validation{*/
     /*box-shadow: inset 0 -2px 0 #4caf50;*/
/*}*/

/*input.ng-invalid.ng-dirty.form-validation{*/
    /*box-shadow: inset 0 -2px 0 #e51c23;*/
/*}*/