#main-aside{
    padding: 0;
    margin: 0 auto;
}

.ads-panel>div{
    width:95%;
    margin: 1% auto;
}

.ads-panel section div p{
    padding: 3%;
    font-size: 1.1rem;
    background-color: #f9f9f9;
}

.ads-panel section div.ad-info div{
    margin-top: 2%;
    background: #F9F9F9;
}

.ads-panel section div.ad-info div:last-child{
    margin-bottom: 10%;
}

.ads-panel section div.ad-info div label{
    width: 20%;
    padding: 3%;
    background-color: #ffffff;
    margin-right: 4%;
    margin-bottom: 0;
}

.ads-panel header{
    margin-bottom: 2%;
}

.image-container{
    margin-left: 15px;
    padding: 3%;
    width: 30%;
}

.image-container>img{
    width: 100%;
}

.authentication-form{
    width: 70%;
    margin: 0 auto;
}

#content{
    min-height: 800px;
}