<aside ng-init="routeChecker()">
    <div class="panel panel-default">
        <div class="panel-heading"><h5>Navigation</h5></div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked navigation">
                <li id="ads"><a href="#/admin/home">Ads</a></li>
                <li id="users"><a href="#/admin/users">My Ads</a></li>
                <li id="categories"><a href="#/admin/categories">Add New Ad</a></li>
                <li id="towns"><a href="#/admin/towns">Edit Profile</a></li>
            </ul>
        </div>
    </div>
</aside>