<aside ng-init="routeChecker()">
    <div class="panel panel-default">
        <div class="panel-heading"><h5>Navigation</h5></div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked navigation">
                <li id="ads"><a href="#/admin/home">Ads</a></li>
                <li id="users"><a href="#/admin/users">Users</a></li>
                <li id="categories"><a href="#/admin/categories">Categories</a></li>
                <li id="towns"><a href="#/admin/towns">Towns</a></li>
            </ul>
        </div>
    </div>
</aside>