<div class="well bs-component">
    <form name="newAdd" class="form-horizontal authentication-form" ng-controller="NewAdController" ng-submit="publish(details, imgSrc)">
        <fieldset>
            <legend>Add New Ad</legend>
            <div class="form-group">
                <label for="inputTitle" class="col-lg-2 control-label">Title:</label>
                <div class="col-lg-10">
                    <input type="text" name="inputTitle" class="form-control" required id="inputTitle" placeholder="Title" ng-model="details.title">
                </div>
            </div>
            <div class="form-group">
                <label for="selectCategory" class="col-lg-2 control-label">Category</label>
                <div class="col-lg-10">
                    <select class="form-control" name="inputTown" required id="selectCategory" ng-controller="CategoriesController" ng-model="details.categoryId">
                        <option value="" disabled selected>Select your option</option>
                        <option ng-repeat="category in categories" value="{{ category.id }}">{{ category.name }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="selectTown" class="col-lg-2 control-label">Town</label>
                <div class="col-lg-10">
                    <select class="form-control" name="inputTown" required id="selectTown" ng-controller="TownsController" ng-model="details.townId">
                        <option value="" disabled selected>Select your option</option>
                        <option ng-repeat="town in towns" value="{{ town.id }}">{{ town.name }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group photo-input" ng-class="isValidImg" ng-controller="UploadController">
                <label class="col-lg-2 control-label">Image:</label>
                <div class="col-lg-4">
                    <input type="text" name="inputImage" class="form-control" required placeholder="Image" ng-value="imageName" disabled="disabled">
                </div>
                <button class="btn btn-info col-lg-2">Browse<input type="file" id="inputImage" ng-file-select="onFileSelect($files)"/></button>
                <div class="col-lg-4 new-ad-image">
                        <img ng-src="{{imageSrc}}" src="../app/img/no-available-image.png">
                </div>
            </div>
            <div class="form-group">
                <label for="inputText" class="col-lg-2 control-label">Text</label>
                <div class="col-lg-6">
                    <textarea class="form-control" rows="4" id="inputText" ng-model="details.text"></textarea>
                    <span class="help-block">Enter description of your ad.</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <a href="#/" class="btn btn-default">Cancel</a>
                    <button type="submit" class="btn btn-warning">Publish</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>