<aside class="col-md-2 pull-right">
    <div class="panel panel-default">
        <div class="panel-heading"><h5>Category</h5></div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#">Electronics</a></li>
                <li><a href="#">Outdoors</a></li>
                <li><a href="#">Home and kitchen</a></li>
            </ul>
        </div>
    </div>
</aside>
<aside class="col-md-2 pull-right">
    <div class="panel panel-default">
        <div class="panel-heading"><h5>Town</h5></div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#">Sofia</a></li>
                <li><a href="#">Stara Zagora</a></li>
                <li><a href="#">Burgas</a></li>
            </ul>
        </div>
    </div>
</aside>