<main class="col-md-8">
    <div id="content" class="jumbotron">
        <div class="ads-panel" ng-controller="ListAdsController" ng-init="getAds()">
            <div class="panel panel-default" ng-repeat="ad in ads | filter: search">
                <div class="panel-body">
                    <header>
                        <h5 class="">{{ ad.title }}
                            <p class="pull-right">{{ ad.date | date:'dd-MMM-yyyy' }}</p>
                        </h5>
                    </header>
                    <section class="row">
                        <div class="image-container jumbotron col-md-3">
                            <img ng-src="{{ ad.imageDataUrl }}" src="../app/img/wutu.jpg"/>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="ad-info col-md-6">
                            <p>
                                {{ ad.text }}
                            </p>
                            <div>
                                <label>Name: </label><span>{{ad.ownerName}}</span>
                            </div>
                            <div>
                                <label>Email: </label><span>{{ad.ownerEmail}}</span>
                            </div>
                            <div>
                                <label>Phone: </label><span>{{ad.ownerPhone}}</span>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div ng-controller="PagerController" class="text-center">
        <ul class="pagination">
            <li id="first" ng-click="setPageId(0, false)"><a href="">«</a></li>
            <li ng-repeat="i in getPages(numPages) track by $index" ng-class="$index+1 == 1 ? 'active' : ''" id="page-{{$index+1}}" ng-click="setPageId($index+1)"><a href="">{{$index+1}}</a></li>
            <li id="last" ng-click="setPageId(0, true)"><a href="">»</a></li>
        </ul>
    </div>
</main>