<main class="col-md-8">
    <div id="content" class="jumbotron">
        <div class="ads-panel" ng-controller="ListAdsController" ng-init="getAds()">
            <div class="panel panel-default" id="{{ad.id}}" ng-repeat="ad in ads | filter: search">
                <div ng-include="template.confirmDelete" ng-controller="ConfirmDeleteController"></div>
                <div class="panel-body">
                    <header>
                        <h5 class="">{{ ad.title }}
                            <p class="pull-right">{{ ad.date | date:'dd-MMM-yyyy' }}</p>
                        </h5>
                    </header>
                    <section class="row">
                        <div class="status-image-container col-md-3">
                            <div class="image-container jumbotron">
                                <img ng-src="{{ ad.imageDataUrl }}" src="../app/img/wutu.jpg"/>
                            </div>
                            <div class="text-center vert-offset-top-6" ng-controller="EditAdsController" ng-if="isAdmin">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Status</h3>
                                    </div>
                                    <div class="panel-body">
                                        {{ ad.status | status:ad.id }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="ad-info col-md-6">
                            <p>
                                {{ ad.text }}
                            </p>
                            <div>
                                <label>Name: </label><span>{{ad.ownerName}}</span>
                            </div>
                            <div>
                                <label>Email: </label><span>{{ad.ownerEmail}}</span>
                            </div>
                            <div>
                                <label>Phone: </label><span>{{ad.ownerPhone}}</span>
                            </div>
                            <div ng-if="isAdmin">
                                <label>Username: </label><span>{{ad.ownerUsername}}</span>
                            </div>
                            <div ng-if="isAdmin">
                                <label>Category: </label><span>{{ad.categoryName || 'unknown'}}</span>
                            </div>
                            <div ng-if="isAdmin">
                                <label>Town: </label><span>{{ad.townName || 'unknown'}}</span>
                            </div>
                        </div>
                    </section>
                    <div class="row button-group" ng-if="isAdmin" ng-controller="EditAdsController">
                        <hr class="style-one">
                        <button class="btn btn-success col-md-2" ng-click="approve(ad)">Approve</button>
                        <button class="btn btn-warning col-md-2" ng-click="reject(ad)">Reject</button>
                        <button class="btn btn-primary col-md-2" ng-click="getAd(ad.id)">Edit</button>
                        <button class="btn btn-danger col-md-2" data-toggle="modal" data-target="#largeModal" ng-click="confirmDelete(ad)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-include="template.pager"></div>
</main>