<aside ng-init="routeChecker()">
    <div class="panel panel-default">
        <div class="panel-heading"><h5>Navigation</h5></div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked navigation">
                <li id="home"><a href="#/">Home</a></li>
                <li id="myads"><a href="#/myads">My Ads</a></li>
                <li id="addnewad"><a href="#/addnewad">Add New Ad</a></li>
                <li id="profile"><a href="#/profile">Edit Profile</a></li>
            </ul>
        </div>
    </div>
</aside>