<div class="well bs-component">
    <form name="register" class="form-horizontal authentication-form" ng-controller="RegisterController" ng-submit="register(credentials)">
        <fieldset>
            <legend>Register</legend>
            <div class="form-group" ng-class="validName">
                <label for="inputName" class="col-lg-2 control-label">Name:</label>
                <div class="col-lg-10">
                    <input type="text" name="inputName" class="form-control" ng-blur="isValid(register.inputName.$valid, 'name')" ng-pattern="nameRegex" required id="inputName" placeholder="Name" ng-model="credentials.name">
                </div>
            </div>
            <div class="form-group" ng-class="validEmail">
                <label for="inputEmail" class="col-lg-2 control-label">Email:</label>
                <div class="col-lg-10">
                    <input type="email" name="inputEmail" class="form-control form-validation" ng-blur="isValid(register.inputEmail.$valid, 'email')" required id="inputEmail" placeholder="Email" ng-model="credentials.email">
                </div>
            </div>
            <div class="form-group" ng-class="validPhone">
                <label for="inputPhone" class="col-lg-2 control-label">Phone:</label>
                <div class="col-lg-10">
                    <input type="text" name="inputPhone" class="form-control" ng-blur="isValid(register.inputPhone.$valid, 'phone')" ng-pattern="phoneRegex" required id="inputPhone" placeholder="Phone" ng-model="credentials.phone">
                </div>
            </div>
            <div class="form-group">
                <label for="select" class="col-lg-2 control-label">Town</label>
                <div class="col-lg-10">
                    <select class="form-control" required id="select" ng-controller="TownsController" ng-model="credentials.townId">
                        <option value="" disabled selected>Select your option</option>
                        <option ng-repeat="town in towns" value="{{ town.id }}">{{ town.name }}</option>
                    </select>
                </div>
            </div>



            <div class="form-group" ng-class="validUsername">
                <label for="inputUsername" class="col-lg-2 control-label">Username:</label>
                <div class="col-lg-10">
                    <input type="text" name="inputUsername" class="form-control" ng-blur="isValid(register.inputUsername.$valid, 'username')" ng-pattern="usernameRegex" required id="inputUsername" placeholder="Username" ng-model="credentials.username">
                </div>
            </div>
            <div class="form-group" ng-class="validPassword">
                <label for="inputPassword" class="col-lg-2 control-label">Password:</label>
                <div class="col-lg-10">
                    <input type="password" name="inputPassword" class="form-control" ng-blur="isValid(register.inputPassword.$valid, 'password')" ng-pattern="passwordRegex" required id="inputPassword" placeholder="Password" ng-model="credentials.password">
                </div>
            </div>
            <div class="form-group" ng-class="validConfirmPassword">
                <label for="inputConfirmPassword" class="col-lg-2 control-label">Confirm password:</label>
                <div class="col-lg-10">
                    <input type="password" name="inputConfirmPassword" class="form-control" ng-blur="isValid(register.inputConfirmPassword.$valid, 'confirmPassword'); verifyPassword(register.inputPassword.valueOf().$viewValue, register.inputConfirmPassword.valueOf().$viewValue)" ng-pattern="passwordRegex" required id="inputConfirmPassword" placeholder="Confirm password" ng-model="credentials.confirmPassword">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <a href="#/" class="btn btn-default">Cancel</a>
                    <button type="submit" class="btn btn-success" ng-disabled="disabled">Register</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>